.white_top_left,.white_top_right,.white_bottom_left,.white_bottom_right{background:#fff}
.white_bg {height: auto;background-color: white;}
.wrap{width:980px;clear:both;overflow:hidden;padding:20px 0px;margin:0 auto}
.wrap_left{float:left;padding-left:40px;width:640px;border-right:1px solid #ddd;overflow:hidden}
.wrap_left h1{color:#F50;font-size:24px;font-family:'微软雅黑','黑体',Arial,'宋体'}
.cur_input,.bg,.yz{border:1px solid #ccc;font-size:14px;height:28px;line-height:28px;padding-left:6px;width:228px}
.cur_input{border-color:#139C00}
 
 
.wrap_left .smt{background:url("../images/loginreg_total.gif") no-repeat scroll 0 0 transparent;border:medium none;cursor:pointer;height:36px;width:122px;font-size:16px;color:#FFF;font-weight:bold;margin-left:58px;overflow:hidden}
 
.get_password{border-right:none;padding:0px 60px;width:830px;height:440px}
.get_password_way{margin:20px 0px 0px 0px;overflow:hidden}
.get_password_way .yz{width:65px}
.get_password_way ul{margin-top:15px}
.get_password_way li{clear:both;overflow:hidden;margin-top:15px}
.get_password_way .msg {color: red;font-size: 14px;height: 50px;line-height: 50px;text-align: center;width: 830px;}
.get_password_way ul span{font-size:14px;width:100px;line-height:28px;height:28px;text-align:right;display:block;float:left}
.get_password_way input{float:left}
.get_password_way .smt{margin-left:100px;_margin-left:50px}
.get_password_way .code{float:left;line-height:28px;padding-left:10px}
.get_password_way .code img{float:left;margin-top:4px;cursor:pointer}
.get_password .org{text-decoration:underline;color:#ff6c01}
.get_password_way .tit{background:#FFFCEB;border-radius:5px;border:1px solid #FFEBDD;text-indent:15px;height:30px;line-height:30px;width:828px;cursor:pointer;color:#000;font-size:14px}
.get_password_way .tit p{float:left}
.get_password_way .tit p .org{text-decoration:none}
.get_password_way .tit em{float:right;display:block;height:20px;width:20px;background:url("../images/loginreg_total.gif") -238px -20px;margin-top:5px;margin-right:15px}
.get_password_way .tit .up{background-position:-238px 0px}
.get_password_way .set_tit{cursor:auto}
.get_password_way .msg{color:#F00;font-size:14px;height:50px;line-height:50px;text-align:center;width:830px}
.get_password_way .normal{height:30px;line-height:30px;margin-left:15px;width:460px;color:#B5B4B4;text-align:left;display:none;font-size:12px}



/*表单验证*/
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url("../images/msg_bg.png") no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background:none;color:#999;padding:2px 10px 2px 2px;}
.onFocus{background-position:3px -147px;color:#999;}
.onLoad{background-position:3px -47px;color:#999;}
.onError{background-position:3px -47px;color:#FF89A7;}
.onCorrect{background:none;color:#999;padding:2px 10px 2px 2px;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}
