@charset "utf-8";
.page { width: 100%; overflow: hidden; text-align: center; padding: 15px 0 30px; clear: both; }
.page .pageNav { margin: 0 auto; }
.page a, .page span, .page i { display: inline-block; /*float:left;*/
background: none repeat scroll 0 0 #FFF; margin-left: 1px; padding: 10px 15px; overflow: hidden; color: #a3370f; font-size: 14px; font-weight: bold; border-right: none; -moz-box-shadow: 1px 1px 3px rgba(226,226,226,0.75); -webkit-box-shadow: 1px 1px 3px rgba(226,226,226,0.75); box-shadow: 1px 1px 3px rgba(226,226,226,0.75); }
.page a:hover { text-decoration: none; color: #FF6701; }
.page span { background: #ee6217; color: #fff; font-weight: bold; text-align: center; }
.page i { color: #d4d4d4; }
.page a.pg-next { width: 60px; border-radius: 0 20px 20px 0; text-align: center; }
.page a.pg-next:hover { cursor: pointer; }
.page span.pg-prev { color: #bbb; font-weight: normal; background: none repeat scroll 0 0 #FFFFFF; width: 60px; border-radius: 20px 0 0 20px }
.page span.pg-next { position: relative; width: 60px; border-radius: 0 20px 20px 0; background: #fff; color: #bbb; }
.page span.pg-next em { background: url(http://s.juancdn.com/jiukuaiyou/img/global/page-img.gif) no-repeat; height: 94px; width: 163px; position: absolute; top: -52px; right: -90px; }
.page a.pg-prev { background: none repeat scroll 0 0 #FFFFFF; width: 60px; border-radius: 20px 0 0 20px; text-align: center; }

.page2 { padding: 10px 0 15px; margin-top: 0px; clear: both; overflow: hidden; text-align: right; }
.page2 a, .page2 span, .page2 i { background: none repeat scroll 0 0 #FF6C01; border-radius: 3px 3px 3px 3px; color: #FFFFFF; font-weight: bold; margin-left: 5px; overflow: hidden; padding: 3px 8px; }
.page2 a:hover { text-decoration: none; color: #fff; background-color: #FF9C00; }
.page2 span { background: none repeat scroll 0 0 transparent; border: medium none; color: #FF6C01; font-weight: bold; }
.page2 a, .page2 span, .page2 i { border-radius: 0px 0px 0px; background: #fff; color: #6c6c6c; border: #ebebeb solid 1px; font-weight: normal; }
.page2 a:hover { background: #fff; color: #FF8A2C; }
.page2 span { font-weight: normal; color: #FF8A2C; background: #F7F7F7; }

.page3 { padding: 25px 0 0; margin-top: 0px; clear: both; overflow: hidden; text-align: right; }
.page3 a, .page3 span, .page3 i { background: none repeat scroll 0 0 #FF6C01; border-radius: 3px 3px 3px 3px; color: #FFFFFF; font-weight: bold; margin-left: 5px; overflow: hidden; padding: 3px 8px; font-size:12px; }
.page3 a:hover { text-decoration: none; color: #fff; background-color: #FF9C00; }
.page3 span { background: none repeat scroll 0 0 transparent; border: medium none; color: #FF6C01; font-weight: bold; }
.page3 a, .page3 span, .page3 i { border-radius: 0px 0px 0px; background: #fff; color: #6c6c6c; border: #ebebeb solid 1px; font-weight: normal; }
.page3 a:hover { background: #fff; color: #FF8A2C; }
.page3 span { font-weight: normal; color: #FF8A2C; background: #F7F7F7; }
.page3 span.pg-prev, .page3 span.pg-next, .page3 a.pg-prev, .page3 a.pg-next { width: 40px; }



